.main
{
	height:100%;
	width: 86%;
	float:left;
	background-image:url("t29.jpg");
	background-repeat:no-repeat;
	background-size:86% 220%;
	background-position:right;
	overflow-x: hidden;
	background-attachment:fixed;
}

.content{
  background-color:rgba(0, 0, 0, .6);
  border-radius: 20px;
  padding: 20px;
  width:90%;
  /*height:80%;*/
  margin:40px;
  margin-top:40px;
  margin-bottom:40px;
  background-attachment:fixed;
}


h1
{
  color:white;
}

.content table
{
	margin:auto;
	width: 90%;
	background-color:rgba(0, 0, 0, .6);
	
}
.content th
{
	padding: 10px 5px;
	color:black;
}
.content td
{
	padding:8px;
	color:white;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.content td:hover
{
	background-color:#f5f5f5;
	color:black;
}

